<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-searchbar placeholder="Filter Schedules" [(ngModel)]="term" animated="true"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let user of usersList | filter:term">
      <ion-avatar>
        <img src={{user.image}}>
      </ion-avatar>
      <ion-grid class="grid_margin_left">
        <ion-row class="user_name">
          <ion-label>{{user.name}}</ion-label>
        </ion-row>
        <ion-row class="user_info">
          {{user.job}} | {{user.id}}
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>